<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxxxls.module_example" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/super_ic_launcher"
        android:label="@string/example_app_name"
        android:supportsRtl="true"
        android:theme="@style/example_AppTheme">
    </application>


</manifest>
