<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xxxxls.module_user">

    <application>

        <activity android:name=".ui.login.LoginActivity"/>

        <activity android:name=".ui.register.RegisterActivity"/>

    </application>

</manifest>
